:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --SecondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
}
.home {
  .homeContainer {
    padding: 4rem 1.5rem;
    .introText {
      font-size: 1.3rem;
      color: var(--primaryColor);
      font-weight: 600;
      letter-spacing: 1px;
    }
    .title {
      font-size: 3.3rem;
      font-weight: 600;
      color: var(--textColor);
      padding: 0.7rem 0;
    }
    .subTitle {
      display: block;
      font-weight: 1.8rem;
      line-height: 2rem;
      padding: 0.5rem 0;
      color: var(--SecondaryColor);
    }
    .homeParagraph {
      font-size: 1.3rem;
      padding: 0.6rem 1rem;
      color: var(--paragraphColor);
      padding: 1rem 0;
      max-width: 600px;
    }
    .lowerHomeSection {
      .contactBtn {
        padding: 0.6rem 1rem;
        background: var(--primaryColor);
        border: none;
        outline: none;
        &:hover {
          background: var(--primaryHover);
        }
        a {
          font-size: 18px;
          font-weight: 600;
          gap: 0.5rem;
          align-items: center;
          color: var(--BgColor);
        }
      }
      .scrollDiv {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        .scroll {
          font-size: 1rem;
          color: var(--primaryColor);
        }
        .icon {
          font-size: 1.3rem;
          margin-left: 0.6rem;
          color: var(--primaryColor);
          animation: move 0.5s infinite;
        }
        @keyframes move {
          0% {
            transform: translateY(5px);
          }
          25% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(5px);
          }
          75% {
            transform: translateY(0px);
          }

          100% {
            transform: translateY(5px);
          }
        }
      }
    }
  }
  .leftIcons, .rightEmail
  {
    display: none;
  }
}

//MEDIA QUERIES=========
@media screen and (min-width:480px)
{
  .home{
    .homeContainer{
      padding: 5rem 1.5rem;
      .introText{
        font-size: 1.5rem;
      }
      .title{
        font-size: 3.5rem;
      }
      .subTitle{
        font-size: 2.1rem;
      }
      .homeParagraph{
        font-size: 1.5rem;
      }
      .lowerHomeSection{
        .contactBtn{
          padding: .8rem 1.5rem;
          a{
            font-size: 22px;
          }
        }
      }
      .scrollDiv{
        padding-top: 1.5rem;
        .icon{
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width:480px)
{
  .home{
    .homeContainer
    {
      padding: 5rem 1.5rem;
      width: 70%;
      margin: auto;
      
      
    }
    .leftIcons, .rightEmail{
      
      display: block;
      position: fixed;
      icon{
        color: var(--SecondaryColor);
      }
      a{
        font-weight: 600;
        color: var(--SecondaryColor);
      }
      .line{
        margin: auto;
        content: '';
        background: var(--SecondaryColor);
        height: 100px;
        width: 1px;
      }
    }
    .leftIcons{
      left: 5%;
      bottom: 0;
      .socials{
        gap: 1rem;
        a{
          color: var(--textColor);
          a:hover{
            color: var(--primaryColor);
          }
        }
      }
    }
    .rightEmail{
      right: 5%;
      bottom: 0;
      .emailAddress{
        transform: rotate(90 deg) translate(-90px, 0px);

        a{
          letter-spacing: 1px;
        }
      }
    }
      
  }
}  

@media screen and (min-width:1240px){

  .home{
.homeContainer{
  padding: 6rem;
  .introText{
    font-size: 1.5rem;
  }
  .title{
    font-size: 5rem;
  }
  .subTitle{
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .homeParagraph{
    font-size: 1.8rem;
  }
}
  }
}